DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_API_KEY=
OAUTH_PROXY_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=

SENTRY_AUTH_TOKEN=
VITE_SENTRY_DSN=
VITE_SENTRY_ORG=
VITE_SENTRY_PROJECT=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
